.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 10px;
    padding: 10px 15px;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #8E8E8F;
}